<div class="owner-container">
  <div>
    <p>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Address/Location</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Build Area</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
    </p>
  </div>

  <div>
    <p>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Deposite</mat-label>
        <input type="number" matInput placeholder="" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Rent</mat-label>
        <input type="number" matInput placeholder="" />
      </mat-form-field>
    </p>
  </div>

  <div>
    <div class="radio-group">
      <label>Furnished?</label>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Furnished</mat-radio-button>
        <mat-radio-button value="2">Semi-Furnished</mat-radio-button>
        <mat-radio-button value="3">Not-Furnished</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="radio-group">
      <label>Open for</label>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Men</mat-radio-button>
        <mat-radio-button value="2">Women</mat-radio-button>
        <mat-radio-button value="3">All</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div>
    <div class="radio-group">
      <label>Open for</label>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Immediate</mat-radio-button>
        <mat-radio-button value="2">Within 15 Days</mat-radio-button>
        <mat-radio-button value="3">Within 30 days</mat-radio-button>
        <mat-radio-button value="3">After 30 days</mat-radio-button>
      </mat-radio-group>
    </div>
    <p>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Preferred Tenants</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
    </p>
  </div>

  <div>
    <button mat-fab color="primary">SAVE</button>
  </div>
</div>
