<div class="filter-container">
  <p>FILTERS</p>

  <div class="vertical-filters">
    <div class="vertical-filters-header">
      <span class="vertical-filters-header">Brand</span>
      <ul class="categories-list">
        <li>
          <mat-checkbox>Check me!</mat-checkbox>
          <span class="categories-num">(39821)</span>
        </li>
        <li>
          <mat-checkbox>Check me!</mat-checkbox>
          <span class="categories-num">(39821)</span>
        </li>
        <li>
          <mat-checkbox>Check me!</mat-checkbox>
          <span class="categories-num">(39821)</span>
        </li>
        <li>
          <mat-checkbox>Check me!</mat-checkbox>
          <span class="categories-num">(39821)</span>
        </li>
      </ul>
    </div>
  </div>
</div>
